.svg-icon {
  height: 30px;
  width: 50px;
}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 900;

  h1, img {
    margin-top: 10px;
  }
}

.back-link {
  color: #277ED5;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  span {
    padding: 10px 3px;
    height: 15px;
  }
}

.back-link:hover {
  color: #FFFFFF;
  transition: 0.3s;
  border-radius: 5px;
}
