<mat-sidenav-container autosize class="mat-container">

  <mat-sidenav mode="side" opened class="mat-sidenav">
    <div class="binadox" (click)="navigateTo('')">
      <img src="assets/svg-data/White.svg">
    </div>
    <mat-divider></mat-divider>

    <div class="subscription">
      <div>
        <div class="arrow-button">
          <button mat-button [matMenuTriggerFor]="afterMenu">
            Active Subscription
            <img src="assets/svg-data/right-arrow.svg"/>
          </button>

        </div>
        <mat-menu id="kek" #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Update subscription</button>
          <button mat-menu-item>Buy subscription</button>
          <button mat-menu-item>Cancel subscription</button>
        </mat-menu>
      </div>
      <div class="subsc-update">
        <button mat-raised-button color="success">Update</button>
        <span>Subscription: 15 days left</span>
      </div>
    </div>
    <mat-divider></mat-divider>

    <div class="home" (click)="navigateTo('')">
      <img src="assets/svg-data/menu-icons/dashboard-icon.svg"/>
      <button mat-button >Home</button>
    </div>
    <div class="saas-aps" (click)="openSaasMenu=!openSaasMenu">
      <div class="arrow-button-icon">
        <img src="assets/svg-data/menu-icons/app-utilizaton.svg"/>
        <div class="arrow-button">
          <button mat-button >
            SaaS Applications
            <img src="assets/svg-data/right-arrow.svg"/>
          </button>
        </div>
      </div>
      <div *ngIf="openSaasMenu" class="saas-submenu">
        <div class="saas-submenu-item" (click)="navigateTo('saas_applications/utilization')">Utilization</div>
        <div class="saas-submenu-item" (click)="navigateTo('saas_applications/saas_connections')">SaaS Connections</div>
        <div class="saas-submenu-item" (click)="navigateTo('saas_applications/renewals_calendar')">Renewals Calendar</div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="mat-content">

    <mat-toolbar class="mat-toolbar">
      <div class="workspace">
        <div class="circle">DW</div>
        <span>{{selectedWorkSpace}}</span>
        <img src="assets/svg-data/arrow-down.svg">
      </div>
      <div class="account-info">
        <img src="assets/svg-data/event-log-button.svg">
        <span>{{mail}}</span>
        <img src="assets/svg-data/arrow-down.svg">
        <app-support-button></app-support-button>
      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>

</mat-sidenav-container>

