.mat-container {
  height: 100vh;
}

.mat-toolbar {
  background-color: #FFFFFF;
  color: rgba(135,145,170,0.15);
  box-shadow: 10px 5px 5px rgba(0,0,0,0.10);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .workspace {
    width: 13vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: #8D8D90;
    font-weight: 400;

    .circle {
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border-radius: 50%;
      font-size: 1rem;
      color: #FFFFFF;
      text-align: center;
      background-color: #277ED5;
      flex-shrink: 0;
    }

    img {
      height: 3.2rem;
    }
  }

  .account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 1;
    color: #8D8D90;
    font-weight: 400;

    img {
      height: 3.2rem;
    }
  }

}

.mat-sidenav {
  background-color: #003A70;
  color: #FFFFFF;
  flex-shrink: 1;

  mat-divider {
    background-color: rgba(147,167,188,0.47);
  }

  .binadox {
    margin: 20px;
  }

  .subscription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin-top: .5rem;
    margin-bottom: 2rem;

    img {
      height: 1.4rem;
      margin: 1rem 3rem 0 0;
    }

    .arrow-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      button {
        width: 100%;
        text-align: left;

        img {
          margin-left: 10rem;
          margin-bottom: 1.2rem;
        }
      }
    }
  }

  .subsc-update {
    margin-left: 1.5rem;

    span {
      margin-left: .5rem;
    }
  }

  .home {
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      width: 100%;
      text-align: left;

      img {
        margin-left: 10rem;
        margin-bottom: 1.2rem;
      }
    }
  }

  .saas-aps {
    margin: 1.5rem;

    .saas-submenu {

      .saas-submenu-item {
        margin: 1rem 1rem 1rem 4.5rem;
        cursor: pointer;
      }
    }

    .arrow-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        width: 100%;
        text-align: left;

        img {
          height: 1.6rem;
          margin-left: 7rem;
        }
      }
    }

    .arrow-button-icon {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.mat-success {
  background-color: #FBC401;
  color: #000000;
}

.mat-content {
  background-color: #F6F7FB;
  display: flex;
  flex-direction: column;

}


.temp-list {
  color: #FFFFFF;

  mat-list-option {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    img {
      height: 3.2rem;
    }
  }
}







