.support-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-end;
  width: 45rem;
  height: 55rem;

  .support-title {
    align-self: center;
  }

  .support-modal-close {
    height: 2rem;
    width: 2rem;

    justify-content: flex-end;
    align-content: flex-end;
    align-items: center;
    align-self: flex-end;

    &:hover {
      cursor: pointer;
    }
  }

  .support-select {
    flex-direction: row;
    align-items: center;

    mat-form-field {
      width:100%;
    }
  }

  .support-textarea {
    flex-direction: row;
    align-items: center;

    mat-form-field {
      width:100%;
    }

  }

  .support-buttons {
    flex-direction: row;
    align-self: flex-end;

    button {
      color: #FFFFFF;
      background-color: #277ED5;
    }

  }
}
