.chat-box {
  position: fixed;
  border: solid #b6b9bb 1px;
  border-radius: 5px;
  background: rgba(219,222,224,1);
  padding: 10px;
  margin: 3px;
  color: rgba(0,0,0,0.51);
  min-height: 100px;
  min-width: 728px;
  bottom: -5px;
  left: 35%;
  display: flex;
  border-bottom: none;

  .form-control {
    display: flex;
    min-height: 80px;
    min-width: 702px;
    margin: 3px;
    padding-bottom: 15px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: auto;
    resize: none;
  }
}

.message-box {
  text-align: center;
  height: 700px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-y: auto;
}

.back-link {
  color: #277ED5;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  span {
    padding: 10px 3px;
    height: 15px;
  }
}
