<div (click)="navigateBack()" class="back-link">
  <img src="assets/svg-data/20x20.svg"/>
  <span>Return back</span>
</div>

<div class="message-box">
  <mat-selection-list *ngIf="messages.length > 0" [multiple]="false">
    <mat-list-option *ngFor="let mes of messages">{{mes}}</mat-list-option>
  </mat-selection-list>
</div>

<div [formGroup]="chatForm" class="chat-box">
  <textarea (keyup.enter)="sendMessage()" [formControl]="chatControl" id="chat-fc" class="form-control" autofocus="true" placeholder="Написать.."></textarea>
</div>
